:root {
    --primary: #add8e6;
}

.navbar {
    background: linear-gradient(to right, #add8e6, #ffffff);
}

html, body {
    width: 100%;
    height: 90%;
    font-family: 'Montserrat Alternates', serif;
}

.navbar-rounded-bottom {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}